version: "3.5"
services:
  cassandra:
    container_name: exemple-test
    image: exemple-test
    networks:
    - test
    environment:
    - HEAP_NEWSIZE=1M
    - MAX_HEAP_SIZE=512m
    ports:
    - 9042:9042
    volumes:
    - ./resources/cassandra:/usr/local/tmp/cassandra
    - ./conf/cassandra:/usr/local/etc/cassandra
    - ./data/cassandra:/var/lib/cassandra
    healthcheck:
      test: ["CMD", "sh", "/usr/local/etc/cassandra/healthcheck_cassandra.sh"]
      interval: 30s
      start_period: 30s
  zookeeper:
    container_name: exemple-zookeeper
    image: zookeeper:3.7.0
    restart: always
    networks:
    - test
    environment:
    - ZOO_4LW_COMMANDS_WHITELIST=srvr, ruok
    ports:
    - 10024:2181
    volumes:
    - ./conf/zookeeper:/usr/local/etc/zookeeper
    - ./data/zookeeper:/data
    hostname: zookeeper
    healthcheck:
      test: ["CMD", "sh", "/usr/local/etc/zookeeper/healthcheck_zookeeper.sh"]
      interval: 10s
      start_period: 5s
  hazelcast:
    container_name: exemple-hazelcast
    image: hazelcast/hazelcast:4.1.1
    networks:
    - test
    ports:
     - 5706:5701
    volumes:
    - ./conf/hazelcast:/usr/local/etc/hazelcast
    environment:
    - "JAVA_OPTS=-Dhazelcast.config=/usr/local/etc/hazelcast/hazelcast.yaml"
    healthcheck:
      test: ["CMD", "curl", "-f", "-H", "accept:application/json", "http://172.17.0.1:5706/hazelcast/health/ready"]
      interval: 30s
      start_period: 30s
networks:
  test:
    name: exemple-test
    driver: bridge